@{
    ViewBag.Title = "SupportOnline";
}
@model List<TDMT_DOAN.Models.HOTROONLINE>

<div class="border_box">
    @foreach (var item in Model)
    {
        string link_skype = "skype:" + item.SKYPE + "?chat";

        <div style="float:left;width:80px;">
            <a style="text-decoration: none;" href="@link_skype">
                <img class="skypeStatusImg" style="margin-top: 10px;width:60px;height:30px"
                     src="~/Content/images/skype.jpg">
            </a>
            <div>@item.TEN</div>
        </div>
    }
</div>

