
@{
    ViewBag.Title = "Index";
}

<div class="oferta">
    <div class="oferta_content">
        <img src="@Url.Content("~/Content/images/laptop.png")" width="94" height="92" alt="" border="0" class="oferta_img" />
        <div class="oferta_details">
            <div class="oferta_title">Lenovo GX 2004 LM</div>
            <div class="oferta_text"> Lenovo là một trong số ít nhà sản xuất chú trọng vào các dòng laptop. Dòng Yoga 500 mới nhất tiếp tục phát huy các thế mạnh như có màn hình cảm ứng, bản lề xoay linh hoạt, mức giá tốt </div>
            <a href="#" class="details">Chi tiết</a>
        </div>
    </div>
    <div class="oferta_pagination"> <span class="current">1</span> <a href="">2</a> <a href="">3</a> <a href="">4</a> <a href="">5</a> </div>
</div>

